<div class="container col-5 py-3">
  <div class="d-flex justify-content-start aling-items-center">
    <h2 class="text-info my-0 mr-2"><%= @restaurant.name %></h2>
    <p>El chef de <%= @restaurant.name %> es <%= @restaurant.chef_name %>.</p>
  </div>
  <div class="container border border-light my-3"></div>
  <%= link_to 'Back', restaurant_path(@restaurant), :class => "btn btn-outline-info mt-2"  %>
</div>
