<div class="container col-5 py-3">
  <h1 class="my-3 font-weight-bolder text-info">Restaurants</h1>
  <div class="container border border-secondary my-3"></div>
  <%= link_to new_restaurant_path do %>
    <i class="fas fa-plus"></i> Add a new restaurant
  <% end %>
  <div class="container border border-secondary my-3"></div>
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurants_path, :class => "text-info"  %></h2>
    <p><%= restaurant.address %></p>
  <% end %>
</div>
