<div class="container">
  <h1 class="my-3 font-weight-bolder text-info">New Restaurant</h1>
  <%= render "form", restaurant: @restaurant %>
  <%= link_to 'Back', restaurants_path, :class => "btn btn-outline-info mt-2"  %>
</div>
